torch==2.3.0
torchvision==0.18.0
PyYAML==6.0.1
numpy==1.26.4
pandas==2.2.2
h5py==3.11.0
hdf5plugin==4.4.0
opencv-python==4.9.0.80
pre-commit==3.7.0
matplotlib==3.8.4
progress==1.6
mlflow==2.11.3
random_word==1.0.7
